.footer {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 40px;
    background-color: #007BFF;
    color: white;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}